html{height:100%; margin: 0; padding: 0}
h1, h2, h3, h4, h5, p{margin: 0; padding: 0;}
ul, li{margin: 0; padding: 0}
h2, h3, p{margin-bottom: 10px;}
.thumb{float:left; display: auto; margin-right:10px;}
body{font-family:'brandon-grotesque','Berthold Akzidenz Grotesk BE', 'Open Sans'; color: #333; /*background: #FFF9F4*/ margin:0; padding: 0; height: 100%;}
h1{text-transform: uppercase; color: #00A3D9; margin-bottom: 30px; font-size: 3em; line-height: 1em}
h1 span{color:#666; text-transform: none; font-weight: normal; font-size: 0.6em; line-height: 1em;}
h3{margin-top: 0; padding-top: 0}
.content{padding:40px 0px 0px 100px;}
.projects{margin-left: 50px;}
.projects li{list-style: none; margin: 0 25px 25px 0; padding: 0; float: left; width: 200px;}
.projects li img{width:200px; height: 200px}
.projects p{margin-top: 0}
a{color:#00A3D9; text-decoration: none;}
.col{float: left;}
.one{width:400px;}
.two{width: 900px}
.items{width:10000px}

/*.project_outer{overflow:hidden}*/
#navigation{border:1px solid red;}
/*
root element for the scrollable.  when scrolling occurs this
element stays still.
*/
.project_desc{float:left; width:200px; margin-right:50px;}
.scrollable { /* required settings */position:relative;overflow:hidden;height:600px;}
 
/*
root element for scrollable items. Must be absolutely positioned
and it should have a extremely large width to accommodate scrollable
items.  it's enough that you set width and height for the root element
and not for this element.
*/
.scrollable .items {/* this cannot be too large */ width:20000em;  position:absolute;}
 
/*
a single item. must be floated in horizontal scrolling.  typically,
this element is the one that *you* will style the most.
*/
.items div { float:left;}
.nav{margin-bottom:30px; background:#f1f1f1; padding: 5px;}
.nav ul li{list-style:none; float: left}
.nav ul li a{border:1px solid red;}
.sidenav{float: left; padding: 40px 30px 20px; background:#f1f1f1;/*#00a3d9, #e5e8e9*/ margin-right: 30px; height: 100%; border-right:1px solid #cccccc;}
a img{border:0;}

a.browse{background: #666; color: white; text-transform: uppercase; font-size: 1.1em; padding: 2px 10px; display: inline-block;}
a.browse:hover{background: #00A3D9;}

.meta{font-size: 0.9em; color: #999; margin-top: 20px;}
.meta h5{text-transform: uppercase; color: #999; padding:3px; background:#f1f1f1; display: inline-block;}
.meta h5{float:left; width: 40px; margin-right: 10px; text-align: center;}
/*.meta div{float:left; width: 120px; padding: 0 10px;}*/
/*.sidenav a{color:white;}*/