<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <script type="text/javascript" src="//use.typekit.net/ovr0odw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>    
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>@name's Portfolio </title>
   <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400,700' rel='stylesheet' type='text/css'>   
    <link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
    <!--<link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen">-->

    <link rel="stylesheet" href="@root_path/public/docs/css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="@root_path/public/docs/css/customnew.css" type="text/css" media="screen">
    <style type="text/css">
    h1{line-height: 1.5em; color: white}
    </style>
  </head>
  <body class="index">
        :navigation-new
            <div style="text-align:center; margin-left:200px;">
              <div style="padding:50px; background:#26a1d3">
                <img src="@root_path/public/images/icon_l.png"><h1>@shout</h1>
              </div>
              
              <div style="width:450px; margin:auto; font-size:1.1em; line-height:1.5em;">
                <p>&nbsp;</p>
                @content
              </div>
              
            </div>  
      <!--<img src="@root_path/public/images/icon_l_w.png" style="float:right; margin-right:20px;"/>-->  
      <!--<p id="footer" class="col six">&copy; Copyright @name @current_year <a class="atom-rss" href="@root_path/?/feed/">RSS</a><br>
        <em>Content managed by <a href="http://www.staceyapp.com">stacey</a></em></p>-->

  </body>
</html>